/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


 /* --**--**----**--**----**--**--  */
 /*  END CSS RESET */
 /* --**--**----**--**----**--**--  */

 /* BODY */
body {
	width: 100%;
    margin: 0 auto;
    padding: 0px 60px 0px 60px;
}

body img  {
    display: flex;
	align-items: center;
}

body .middle-img {
	width: 100%;
}



/* NAV BAR */
.container-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-top: 30px;
	margin-bottom: 30px;
}

	.container-nav nav {
		flex-grow: 1;
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 25px;

	}
		.container-nav nav a {
			text-decoration: none;
			color: gray;
		}

		.MediaQIMG {
			display: flex;
			justify-content: center;
		}

/* HEADER */
.container-header {
	display:flex;
    flex-direction: row;
    justify-content: space-around;

	margin: 30px 0px 30px 0px;
}

	.container-header-left {
		display: flex;
		flex-direction: column;
		
		justify-content: center;
		align-items: center;

	}

		.container-header-left h1 {
			text-align: center;

			font-size: 70px;
		}

		.container-header-left p {
			padding: 10px 30px 10px 30px;
			
			border: 1px solid black;
        }
    
    .container-header img {
		display: flex;
		justify-content:  center;
	
    }

/* CONTENT 1 */
.container-content-1 {
	display:flex;
    flex-direction: row;
    justify-content: space-between;

	margin-top: 20px;
	margin-bottom: 20px;
}

	.content-1-left {
		width: 48%;
	}

	.content-1-right {
		width: 48%;
	}



/* CONTENT 2 */
.container-content-2 {
	display:flex;
    flex-direction: row;
    justify-content: space-between;

	margin-top:20px;
	margin-bottom: 20px;
}

	.content-2-left, .content-2-middle, .content-2-right {
		width: 30%;
	}
/* ADDRESS */
footer address {
	margin-top: 50px;
}

/* LEGAL */

.legal {
	display: flex;
	justify-content: center;

	margin: 50px 0px 0px 0px;
	

}

/* -------------SERVICES PAGE ----------*/
/* -------------SERVICES PAGE ----------*/
/* -------------SERVICES PAGE ----------*/
/* -------------SERVICES PAGE ----------*/
/* -------------SERVICES PAGE ----------*/

/* NAV - SERVICES */
	/* See Above HTML */

/* Services Header */
.services-header {
	margin: 25px 0px 25px 0px;
	
}

/* Services Content */
.container-services-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 25px 0px 25px 0px;

	justify-content: space-between;
}

	.services-item {
		display: flex;
		flex-direction: column;

		width: 430px;

		padding: 25px;
		margin: 10px 0px 10px 0px;
		background-color: rgb(241, 241, 241);

		border: 1px solid black;
	}

		.content-button-learnMore {
			margin-top: 25px;
			padding: 10px 5px 10px 5px;

			width: 40%;

			justify-content: flex-start;
			text-align: center;

			background-color: white;
			border: 1px solid black;

			

		}

		.content-button-learnMore:hover {
			cursor: pointer;
		}

		

/* Services Footer */
.services-footer {
	display: flex;
	padding-top: 25px;
	margin-bottom: 50px;
}

	.services-footer-container {
		padding-right: 25px;
	}
	.services-footer-container li {
		margin-top: 10px;
		list-style-type: disc;
		list-style-position: inside;
    }
    

/* MEDIA QUERIES */
/* --**--**--**-- */
@media(max-width: 800px) {
	body {
		width: 790px;
		padding: 0px;
	}
	
	.container-nav {
		/* height: 130px; */
		flex-direction: column-reverse;
	}

	.container-nav nav {
		padding: 0px;
		justify-content: space-around;
		margin: 40px 0px 40px 0px;

	}

	.container-nav img {
		align-self: center;
		
	}

	/* BOTH CONTAINER & CONTENT & IMG */
	.container-content-1, .container-content-2 {
		padding: 15px;
	}

	/* HEADER */
	.container-header img {
		display: none;
	}

	.container-header {
		margin-bottom: 90px;
	}

	/* CONTENT */
}


@media(max-width: 500px) {
    body {
        width: 490px;
		margin: 0 auto;
		
		padding: 20px;
	}
	
	.MediaQIMG {
		/* display: flex;
		justify-content: center; */

		width: 100%;
		border-bottom: 1px solid black;
	}

	/* NAV */
	.container-nav {
		display: flex;
		flex-direction: column-reverse;
		margin: 0px;
        /* margin: 10px 0px 10px 0px; */

	}

    .container-nav nav {
		flex-direction: column;
		margin-top: 0px;

    }

    .container-nav img {
		align-self: center;
		margin-bottom: 20px;
		/* margin: 0px; */
		/* margin:  15px 0px 15px 0px; */
		

	}
	
	.container-nav a {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid black;
		padding: 22px;
		
	}
	
	 /* CONTENT */
	.container-header {
		margin-top: 10px;
	}
	.container-header-left h1 {
		width: 20px 30px 20px 30px
	}



    .container-content-1, .container-content-2 {
		flex-direction: column;
		justify-items: space-between;

		margin: 0px 0px 30px 0px;
		padding-top: 25px;
	}

    .content-1-left, .content-1-right, .content-2-left, .content-2-middle, .content-2-right {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	



} 
/* END 500px MAX WIDTH */

